<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EShop - Shop điện tử hàng đầu Việt Nam</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="/css/rate.css">
    </head>
    <body>
        <div class="lopBao">
            <div class="dauTrang">
                <div class="logo">
                    <div class="chu">
                        <a href="/">ESHOP</a>
                    </div>
                </div>
                <div class="menu">
                    <div class="taiKhoan">
                        <i class="ti-user"></i>
                        <ul>
                            <div th:if="${session.USERID == null}">
                                <li><a href="/login">Đăng nhập</a></li>
                                <li><a href="/sign-up">Đăng ký</a></li>
                            </div>
                            <div th:if="${session.USERID}">
                                <li><a href="/info-user">Tài khoản</a></li>
                                <li><a href="/cart">Giỏ hàng</a></li>
                                <li><a href="/logout">Đăng xuất</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="timKiem">
                        <i class="ti-search"></i>
                        <div class="thanhTim">
                            <input type="text" id="inpSearch" placeholder="Tìm kiếm" onkeydown="search()">
                            <a onclick="timkiem()" style="cursor:pointer"><i class="ti-search"></i></a>
                        </div>
                    </div>
                    <ul id="thanhMenu">
                        <li><a href="/">Trang chủ</a></li>
                        <li th:if="${session.USERTYPE == 0}"><a href="/product-management">Quản lý</a></li>
                    </ul>
                </div>
            </div>
            <div class="noiDung">
                <div class="bao">
                    <form action="/rate" method="post">
                        <p>Đánh giá đơn hàng</p>
                        <input type="hidden" name="idO" id="idO" th:value="${ORDER}">
                        <input type="hidden" name="idA" id="idA" th:value="${session.ACCOUNTID}">
                        <div class="sao">
                            <div class="s5" >
                                <div class="s4" >
                                    <div class="s3" >
                                        <div class="s2" >
                                            <div class="s1" >
                                                <i class="ti-star" title="1" onclick="rate(this)"></i>
                                            </div>
                                            <i class="ti-star" title="2" onclick="rate(this)"></i>
                                        </div>
                                        <i class="ti-star" title="3" onclick="rate(this)"></i>
                                    </div>
                                    <i class="ti-star" title="4" onclick="rate(this)"></i>
                                </div>
                                <i class="ti-star" title="5" onclick="rate(this)"></i>
                            </div>
                        </div>
                        <div id="diem">
                            <input type="hidden" name="point" id="point" value="5">
                        </div>
                        <div class="danhGia">
                            <p>Nội dung đánh giá</p>
                            <textarea name="message" id="message"></textarea>
                        </div>
                        <button type="submit">Đánh giá</button>
                    </form>
                </div>
            </div>
            <div class="cuoiTrang">
                <a href="/">ESHOP</a>
                <h3>Shop điện tử hàng đầu Việt Nam</h3>
                <a href=""><i class="ti-email"></i></a>
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-twitter-alt"></i></a>
            </div>
        </div>
        <script>
//            JS chung

            fetch('http://localhost:8080/catalog')
                    .then(response => response.json())
                    .then(data => {
                        var htmls = data.map(function (d) {
                            return '<li><a href="/products/catalog/' + d.id + '">' + d.name + '</a></li>';
                        })
                        html = htmls.join(' ');
                        document.getElementById('thanhMenu').innerHTML += html
                    })

            function timkiem() {
                var input = document.getElementById('inpSearch').value;
                if (input)
                    window.location = 'http://localhost:8080/products/search/' + input;
            }
            function search() {
                if (event.keyCode == 13) {
                    timkiem();
                }
            }
//            JS Trang 
            function rate(cls) {
                document.getElementsByClassName('s5').item(0).style.color = 'inherit';
                document.getElementsByClassName('s4').item(0).style.color = 'inherit';
                document.getElementsByClassName('s3').item(0).style.color = 'inherit';
                document.getElementsByClassName('s2').item(0).style.color = 'inherit';
                document.getElementsByClassName('s1').item(0).style.color = 'inherit';
                cls.parentElement.style.color = 'rgba(255, 200, 36,0.9)';
                document.getElementById('diem').innerHTML = '<input type="hidden" name="point" id="point" value="' + cls.title + '">'
            }
        </script>
    </body>
</html>